<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="store">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="include/css/bootstrap.min.css">

    </head>
    <body>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>

        <div ng-controller="StoreController as store"> 
            <ul class="list-group-item" ng-repeat="product in store.product"> 
                <div class="product row" ng-hide="store.product.soldOut">
                    <h3>{{product.name}}
                        {{store.product.price|currency}} 
                        <em class="pull-right">{{store.product.description}}</em>
                        <div class="gallery" ng-show="product.images.length != 0">

                            <img ng-src="{{product.images[0].full}}"/>
                        </div>
                        <button ng-show="store.product.canPurchase" > Add to cart </button>
                    </h3>
                </div>

            </ul>
        </div>
    </body>
</html>
